.slabtexted .slabtext{display:-moz-inline-box;display:inline-block;white-space:nowrap}.slabtextinactive .slabtext{display:inline;white-space:normal;font-size:1em !important;letter-spacing:inherit !important;word-spacing:inherit !important;*letter-spacing:normal !important;*word-spacing:normal !important}.slabtextdone .slabtext{display:block}

/*
     FILE ARCHIVED ON 13:58:12 Apr 15, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:20:56 Jun 24, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.51
  captures_list: 0.631
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.066
  esindex: 0.01
  cdx.remote: 2.091
  LoadShardBlock: 56.798 (3)
  PetaboxLoader3.datanode: 71.571 (4)
  load_resource: 45.85
*/